---
import ScreenCard from "./ui/ScreenCard.astro";

import ControlScreenImage from '../assets/control-screen.png';
import HomeScreenImage from '../assets/home_screen.png';
import FormularioImage from '../assets/formulario.png';
import ReporteImage from '../assets/pdf.png';
import DeleteImage from '../assets/delete.png';
import EditImage from '../assets/edit.png';
---

<section class="flex flex-col items-center p-4 md:p-10 lg:p-20" id="capturas">
    <h2 class="text-6xl font-bold mb-8">Ve Costly en acción</h2>
    <p class="text-2xl text-gray-500 mb-12">Interfaz limpia y funcional diseñada para una experiencia perfecta</p>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12 mt-12">
        <ScreenCard title="Define el Presupuesto" description="Define el presupuesto de tu viaje y ve en tiempo real cuanto has gastado y cuanto te queda disponible." image={HomeScreenImage} />
        <ScreenCard title="Dashboard Principal" description="Vista general de tu presupuesto, disponible y gastado, todo junto con tu lista de gastos." image={ControlScreenImage} />
        <ScreenCard title="Agregar Gastos" description="Formulario simple para registrar gastos rápidamente." image={FormularioImage} />
        <ScreenCard title="Elimina un Gasto" description="Elimina un gasto de tu presupuesto con solo deslizar a la izquierda." image={DeleteImage} />
        <ScreenCard title="Edita un Gasto" description="Modifica los detalles de un gasto existente con solo deslizar a la derecha." image={EditImage} />
        <ScreenCard title="Reportes PDF" description="Exporta todos tus gastos en formato profesional." image={ReporteImage} />
    </div>
</section>